@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,900;1,900&family=Rubik+Glitch+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,900;1,900&family=Rubik+Glitch+Pop&display=swap');

html {
    cursor: none;
}
body {
    background: linear-gradient(to right, rgba(36, 31, 31, 1) 100%, rgba(36, 31, 31, 1) 32%, rgba(74, 71, 70, 1) 100%);
    color: #FCF3EA;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    height: 100%;
    overflow-x: hidden;
    cursor: none;
    
}

p {
    font-size: 1.125rem/* 18px */;
    line-height: 1.75rem/* 28px */;
}

.tag {
    background-color: #FCF3EA;
    padding: 2px;
    margin-bottom: 3px;
    border-radius: 100px;
    padding-inline: 15px;
    color: #1c1917;
}

h1 {
    font-family: "Noto Sans JP", sans-serif;
}

.ligne {
    height: 2px;
    background-color: #FCF3EA;
}

.title {
    -webkit-text-stroke: 0.5px #FCF3EA;
    color: transparent;
}


a {
    -webkit-text-stroke: 0.5px #FCF3EA;
    text-decoration: none;
    transition: color .3s cubic-bezier(0.11, 0.7, 0, 1);
    
}

a:hover {
    color: unset;
    cursor: none;
}


ul li {
    list-style: none;
    cursor: none;
    
}

ul li a {
    position: relative;
    text-decoration: none;
    transition: ease-out 0.5s;
}

ul:hover li a {
    color: rgba(0, 0, 0, 0.1);
    cursor: none;
    
}

ul li:hover a {
    color: #FCF3EA;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-text-stroke-color: transparent;
    cursor: none;
}

a:hover {
    text-decoration: none;

}

section {
    display: grid;


}

h2 {
    font-family: 'Rubik Glitch Pop', sans-serif;
    font-size: 2.3rem;
    font-weight: 900;
    color: #FCF3EA;
    margin-top: 10px;
}

h3 {
    font-family: 'Rubik Glitch Pop', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    color: #FCF3EA;
    margin-top: 10px;
}


.caca {
    opacity: 0;
    filter: blur(50px);
    transform: translateX(-100%);
    transition: all 4s;

}

.animationtop {
    opacity: 0;
    filter: blur(50px);
    transform: translateY(-100%);
    transition: all 3s;
}

.animationrigh {
    opacity: 0;
    filter: blur(50px);
    transform: translateX(100%);
    transition: all 5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);

}


.animleft {
    animation: movel 5s;
    -webkit-animation: movel 5s;

}

.animright {
    animation: mover 5s;
    -webkit-animation: mover 4s;
    
}

/* apparition gauche */

@keyframes movel {
    from {
        padding-left: 100%;
        width: 300%;
        opacity: 0;
        filter: blur(50px);
        transform: translateX(-100%);
        transition: all 4s;
        filter: blur(10px);
        -webkit-filter: blur(10px);
    }

    to {
        padding-left: 0%;
        width: 100%;
        filter: blur(0);
        transform: translateX(0%);

    }
}


@-webkit-keyframes movel {
    from {
        opacity: 0;
        filter: blur(50px);
    }

    to {
        padding-left: 0%;
        width: 100%;
        filter: blur(0);
        transform: translateX(0%);
    }
}

/* apparition droite */

@keyframes mover {
    from {
        opacity: 0;
        padding-right: 100%;
        width: 300%;
        filter: blur(50px);

    }

    to {
        opacity: 1;
        padding-right: 0%;
        width: 100%;
        filter: blur(0);
    }
}

@-webkit-keyframes mover {
    from {
        opacity: 0;
        padding-right: 100%;
        width: 300%;
        filter: blur(50px);
        /* Effet de flou */
    }

    to {
        opacity: 1;
        padding-right: 0%;
        width: 100%;
        filter: blur(0);
    }
}

/* underligne button */


.underline-btn{
  	padding: 0.5em 0;
  	border-radius: 0;
    font-weight: bold;
  	position: relative;
      font-family: 'Rubik Glitch Pop', sans-serif;
	&:before,
	&:after{
		content: '';
    	display: block;
    	position: absolute;
    	height: 2px;
    	width: 0;

	}
	&:before{
		transition: width 0s ease,background .4s ease;
		left: 0;
		right: 0;
    	bottom: 6px;
	}
	&:after{
		right: 2.2%;
    	bottom: 6px;
    	background: #FCF3EA;
		transition: width .4s ease;
	}
	
	&:hover{
		&:before{
			width: 97.8%;
			background: #FCF3EA;
    		transition: width .4s ease;
		}
		&:after{
			width: 97.8%;
    		background: 0 0;
			transition: all 0s ease;
		}
	}
}

/* fullimg */

.fullimg {
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);   
}

.cursor {
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  
  }
  
  .outer {
    border: 1px solid #FCF3EA;
  }
  
 
  .cursor.hover {
    transform: translate(-50%, -50%) scale(2);
    transition: transform 100ms ease-in-out;
    border: 1px solid black;
  }
  
  .inner.hover {
    background: #FCF3EA;
    mix-blend-mode: difference;
  }